* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	font-size: 16px;
	line-height: 1.4;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	padding: 5px;
}

img {
	line-height: 0;
}

i {
	font-style: italic;
}

hr {
	border: 0;
	border-top: solid 1px $divider-grey;
	margin: 50px auto;
}


// Floating
.left {
	float: left;
}

.right {
	float: right;
}

.clearfix {
	@include grid-container;
}


// Text alignment
.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-center-md-down {
	@media screen and (max-width: $bp-md) {
		text-align: center;
	}
}

.align-right {
	text-align: right;
}

// Text colors
.text-light {
	color: $white;
}

.text-dark {
	color: $nav-grey;
}

// Positioning
.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

// Background
.bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

// Visibility
.show-sm-only {
	display: block;

	@include grid-media($md-grid) {
		display: none;
	}
}

.show-md-only {
	display: none;

	@include grid-media($md-grid) {
		display: block;
	}

	@include grid-media($lg-grid) {
		display: none;
	}
}

.show-md-up {
	display: none;

	@include grid-media($md-grid) {
		display: block;
	}
}

.show-md-down {
	display: block;

	@include grid-media($lg-grid) {
		display: none;
	}
}

.hide-md-down {
	display: none;

	@include grid-media($lg-grid) {
		display: block;
	}
}

// Others
.logo-pri {
	float: left;

	img {
		max-width: 150px;
		height: 45px;

		@include grid-media($lg-grid) {
			max-width: none;
		}
	}
}

.logo-sec {
	float: right;
	display: none;
	
	@include grid-media($lg-grid) {
		display: inline;
	}
}

.standard-content {
	@include grid-container();

	&:last-child {
		margin-bottom: 80px;
	}

	@include grid-media($md-grid) {
		max-width: 750px;
		margin: 0 auto;
	}
}

.captioned-image {
	margin-left: -20px;
	margin-right: -20px;

	text-align: center;

	img {
		width: 100%;
	}
}

.captioned-image,
blockquote {
	margin-top: 60px;
	margin-bottom: 60px;

	@include grid-media($md-grid) {
		@include grid-column(10, $md-grid);
		@include grid-push(1, $md-grid);
	}
}