/**
 * @TODO:
 * REMOVE ALL THESE CLASSES SUCH AS 
 * - container-md-up 
 * - grid-collapsed-md-up
 *
 * FIND A BETTER WAY TO MANAGE THESE DISPLAYS.
 */

.container {
	@include grid-container();
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
	
	@include grid-media($sm-grid) {
		padding: 0 20px;
	}

	@at-root {
		#{&}--no-pad {
			padding: 0;
		}
	}
}

.container-md-up {
	@include grid-media($md-grid) {
		@include grid-container();
		max-width: 1140px;
		margin: 0 auto;
		padding: 0 15px;
	}
}

.container-lg-up {
	@include grid-media($lg-grid) {
		@include grid-container();
		max-width: 1140px;
		margin: 0 auto;
		padding: 0 15px;
	}
}

.grid-collapsed {
	@include grid-media($sm-grid) {
		@include grid-collapse($sm-grid);
	}

	@include grid-media($md-grid) {
		@include grid-collapse($md-grid);
	}

	@include grid-media($lg-grid) {
		@include grid-collapse($lg-grid);
	}
}

.grid-collapsed-md-up {
	@include grid-media($md-grid) {
		@include grid-collapse($md-grid);
	}
}

.grid-collapsed-lg-up {
	@include grid-media($lg-grid) {
		@include grid-collapse($lg-grid);
	}
}

@for $i from 1 through $columns-sm {
	.col-sm-#{$i} {
		@include grid-media($sm-grid) {
			@include grid-column($i);
		}
	}
}

@for $i from 1 through $columns-md {
	.col-md-#{$i} {
		@include grid-media($md-grid) {
			@include grid-column($i);
		}
	}
}

@for $i from 1 through $columns-lg {
	.col-lg-#{$i} {
		@include grid-media($lg-grid) {
			@include grid-column($i);
		}
	}
}

.rtl {
	[class*="col-"] {
		float: right;
		margin-left: 0;

		@include grid-media($sm-grid) {
			margin-right: $gutter-sm;
		}

		@include grid-media($md-grid) {
			margin-right: $gutter-md;
		}

		@include grid-media($lg-grid) {
			margin-right: $gutter-lg;
		}
	}
}