/**
 * Section specific styling overrides.
 */

.section {
	padding: 22px 0;
  position: relative;

	@include grid-media($lg-grid) {
		padding: 40px 0;
	}

	.accordion {
		margin-bottom: 0px;
	}

	.accordion__header {
		margin: 0;
		padding: 30px 0;

		font-size: 24px;
		font-family: $font-sec;
		font-weight: normal;
		color: $white;

		&:hover {
			@include grid-media($md-grid) {
				cursor: auto;
			}
		}

		@include grid-media($md-grid) {
			color: $nav-grey;

			position: static;
			font-size: 30px;
		}

		&:after {
			top: 0;
			bottom: 0;
			height: 31px;
		}
	}

	.accordion__body {
		border: 0;

		@include grid-media($md-grid) {
			max-height: none;
			overflow: visible;
		}
	}

	.accordion__content {
		padding: 25px 15px 40px;

		@include grid-media($lg-grid) {
			padding: 0;
		}
	}

	@at-root {
		#{&}--no-pad {
			padding: 0;
		}

		#{&}__title {
			font-size: 24px;
			font-family: $font-sec;
			color: $white;

			@include grid-media($lg-grid) {
				font-size: 26px;
			}
		}

		#{&}__sub-title {
			font-size: 16px;
			font-family: $font-pri;
			color: $white;

			@include grid-media($lg-grid) {
				font-size: 20px;
			}
		}
	}
}

// Secondary news
.section--secondary-news {
	background-image: linear-gradient(-45deg, #fafafa 46%, #e4e4e4 49%, #e4e4e4 51%, #fafafa 55%);
	background-size: 10px 10px;

	.card__title {
		min-height: 100px;

		@include grid-media($lg-grid) {
			min-height: auto;
		}
	}
}

// Login
.section--login-panel {
	padding: 0;

	background: url(../img/login_panel_bg.png) #222349 no-repeat;
	box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.4);
	background-position: left bottom;
	color: $white;

	@include grid-media($md-grid) {
    background: url(../img/login_panel_bg-flipped.png) #222349 no-repeat;
	  background-position: right bottom;
  }

	p {
		font-size: 20px;
	}

	@include grid-media($md-grid) {
		padding: 0;
	}

	.login-panel-desc {
		@include grid-media($lg-grid) {
			padding: 20px 0 0 40px;
		}
	}

	.login-panel {
    display: none;

		@include grid-media($md-grid) {
			display: block;
		}

    .panels {
      display: flex;
    }

    .panel {

      &--image {
        width: 40%;
        background: url(../img/login_panel_screenshot.png) no-repeat;
        background-size: 100% auto;

		    @include grid-media($lg-grid) {
          width: 30%;
        }
      }

      &--entry {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 220px;

		    @include grid-media($md-grid) {
          padding: 0 20px;
        }

		    @include grid-media($lg-grid) {
          width: 70%;
          height: 200px;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0;
        }

        div {

          @include grid-media($lg-grid) {
            flex: 2;
            text-align: right;
          }

          &:first-child {

            @include grid-media($lg-grid) {
              flex: 3;
              text-align: left;
              padding: 0 20px;
            }
          }
        }

        h4 {
          font-weight: normal;
          margin-bottom: 10px;
        }

        p {
          font-size: 17px;
          font-weight: 300;

          @include grid-media($lg-grid) {
            margin-bottom: 0;
          }

          em {
            font-style: italic;
          }
        }

        .btn {
          white-space: nowrap;
          margin-top: 0;
        }
      }
    }

  }

	.login-panel--mobile {
		margin-top: 0px;
    padding: 0;
    font-size: 24px;
    font-family: "Francois One", sans-serif;
    font-weight: normal;
    color: #ffffff;
    display: flex;

		@include grid-media($md-grid) {
			display: none;
		}

    .panel-text {
      width: 220px;
      padding: 20px 0 20px 20px;
      @media (min-width: 460px) {
        width: 50%;
      }
    }

    .panel-image {
      background: url(../img/login_panel_screenshot.png) no-repeat;
      background-size: auto 100%;
      flex: 1;
      @media (min-width: 460px) {
        width: 50%;
        background-position: center center;
      }
    }

    p {
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 8px;
      line-height: 1.6;

      strong {
        font-size: 18px;
      }

      em {
        font-weight: 300;
        font-style: italic;
        font-size: 14px;
      }
    }

    .btn {
      box-shadow: none;
      padding: 14px;
    }
	}

	a {
		margin-top: 10px;
	}
}


// Home updates
.section--home-updates {
	padding: 0;

	.traffic-updates {
		@include grid-media($md-grid) {
			padding-left: 30px;
		}

		.accordion__header {
			padding: 30px 15px;

			background: #fecd20;

			&:after {
				@include grid-media($md-grid) {
					content: '';
				}
			}

			@include grid-media($md-grid) {
				padding: 30px 0;

				background: none;
			}
		}
	}

	.coe-updates {
		@include grid-media($md-grid) {
			padding-right: 60px;
		}

		.accordion__header {
			padding: 30px 15px;

			background: #7a7b92;
			color: $white;


			@include grid-media($md-grid) {
				padding: 30px 0;

				background: none;
				color: $nav-grey;
			}
		}
	}


	@include grid-media($md-grid) {
		padding: 45px 0 60px;
	}

	h1 {
		color: $nav-grey;
		margin-bottom: 10px;
	}

	.section__header {
		display: block;
	}
}

// Traffic cameras
.section--traffic-cameras {
	padding: 0;

	.accordion__header {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		color: $white;

		&:after {
			top: 30px;
			bottom: auto;
		}

		@include grid-media($lg-grid) {
			padding: 30px 0 75px;
		}
	}

	.accordion__body {
		position: relative;
		z-index: 100;
	}

}

.featured-cameras {
	position: relative;
	z-index: 1;

	padding-bottom: 145px;

	.card {

		@include grid-media($lg-grid) {
			margin-top: -40px;
		}
	}
}

.camera-feed {
	margin-top: 30px;

	img {
		width: 100%;
	}
}
