@import url(https://fonts.googleapis.com/css?family=Francois+One|Lato:100,100i,300,300i,400,400i,700,700i,900,900i);

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/vendor/font-awesome/fontawesome-webfont.eot?v=4.7.0');
	src: url('../fonts/vendor/font-awesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), 
		url('../fonts/vendor/font-awesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
		url('../fonts/vendor/font-awesome/fontawesome-webfont.woff?v=4.7.0') format('woff'),
		url('../fonts/vendor/font-awesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
		url('../fonts/vendor/font-awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: $font-pri;
}

h1,
h2,
h3 {
	font-family: $font-sec;
}

h4,
h5,
h6 {
	font-family: $font-pri;
	font-weight: 700;
}

h1 {
	font-size: 30px;
	line-height: 36px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 26px;
}

h5 {
	font-size: 18px;
	font-weight: 900;
}

h6 {
	font-size: 18px;
}

p {
	font-family: $font-pri;
	line-height: 24px;
	margin-bottom: 20px;
}

figcaption {
	padding: 10px;

	font: $font-pri 14px;
	color: $caption-grey;
	line-height: 20px;
}

blockquote {
	border-left: solid 3px $yellow;
	padding-left: 35px;

	font: 28px $font-pri;
	font-weight: 300;
	color: $body-copy-grey;
}

.page-title {
	margin-bottom: 25px;
}

.text-pri {
	font-family: $font-pri;
}

.text-pri--bold {
	font-weight: 700;
}

.text-sec {
	font-family: $font-sec;
}

.category {
	font-family: $font-pri;
	text-transform: uppercase;

	.fa {
		margin-right: 5px;
	}
}