// Grid columns
$columns-lg: 12; // Desktop
$columns-md: 12; // Tablet
$columns-sm: 4; // Mobile

// Grid gutters
$gutter-lg: 30px;
$gutter-md: 15px;
$gutter-sm: 15px;

// Breakpoints
$bp-sm: 320px;
$bp-md: 768px;
$bp-lg: 1024px;

// Colors
$bg-grey: #f7f7f7;
$purple-grey: #7a7b92;
$divider-grey: #dddddd;
$caption-grey: #666666;
$nav-grey: #444444;
$body-copy-grey: #333333;
$footer-bg-grey: #222222;
$light-purple-grey: #a2a2b1;
$grey--light: #555555;
$grey--lightest: #e9edf5;

$mega-menu-blue: #1d212d;
$dark-blue: #222349;
$blue: #3f4fa0;

$orange: #ff8c00;

$yellow: #fecd20;

$white: #ffffff;

$red: #ab0000;

// Fonts
$font-pri: 'Lato', sans-serif;

$font-sec: 'Francois One', sans-serif;

$font-fa: 'FontAwesome';
