.accordion {
	margin-bottom: 5px;

	&.is-opened {
		> .accordion__body {
			max-height: 2000px; // Just a random height that we'll never exceed.
		}

		> .accordion__header {
			background-color: $dark-blue;

			&:after {
				transform: rotate(90deg);
			}
		}
	}

	@at-root {
		#{&}__header {
			position: relative;

			display: block;
			padding: 15px;

			background: $purple-grey;
			color: $white;
			font: 16px $font-pri;
			font-weight: 700;
			transition: background .3s ease-in-out;

			&:hover {
				cursor: pointer;
				background: $blue;
			}

			&:after {
				content: '\f054';

				position: absolute;
				right: 20px;

				margin: auto;
				padding-top: 3px;

				font-family: $font-fa;
				transition: transform .2s ease-in-out;

				@include grid-media($md-grid) {
          display: none;
        }
			}
		}

		#{&}__body {
			display: block;
			max-height: 0;
			border: solid 1px $divider-grey;
			border-top: 0;

			overflow: hidden;
			transition: max-height .5s ease-in-out;
		}

		#{&}__content {
			padding: 15px;
		}
	}
}
