.btn-groups {
	text-align: center;

	.btn {
		margin: 0 0 30px;

		&:last-child {
			margin-bottom: 0;
		}

		@include grid-media($md-grid) {
			margin-left: 0;
		}
	}

	@at-root {
		#{&}--left {
			text-align: left;
		}
	}
}

.btn {
	$shadow-color: $blue;

	& + .btn {
		@include grid-media($md-grid) {
			margin-left: 30px;
		}
	}

	padding: 12px 30px;
	display: inline-block;
	border: none;

	font-family: $font-pri;
	font-size: 16px;
	text-align: center;
	color: $white;
	outline: none;
	border-radius: 8px;
	background-color: $shadow-color;
	box-shadow: 0 3px darken($shadow-color, 10);
	transition: transform .1s,
				box-shadow .1s,
				background-color .3s;

	&:hover {
		cursor: pointer;
		background-color: darken($shadow-color, 5);
	}

	&:active {
		box-shadow: 0 1px darken($shadow-color, 10);
		transform: translateY(2px);
	}

	@at-root {
		#{&}--warning {
			$shadow-color: $orange;

			background-color: $orange;
			box-shadow: 0 3px darken($shadow-color, 10);

			&:hover {
				background-color: darken($shadow-color, 5);
			}

			&:active {
				background: darken($orange, 8);
				box-shadow: 0 1px darken($shadow-color, 10);
			}
		}

		#{&}--alert {
			$shadow-color: $red;

			background: $red;
			box-shadow: 0 3px darken($shadow-color, 10);

			&:hover {
				background-color: darken($shadow-color, 5);
			}

			&:active {
				box-shadow: 0 1px darken($shadow-color, 10);
			}
		}
	}

	.fa {
		padding: 0 5px;
	}
}

.back-to-top {
	position: fixed;
	
	background: $yellow;
	bottom: 15px;
	right: 15px;
	width: 50px;
	height: 50px;
	display: block;
	text-decoration: none;
	border-radius: 35px;
	display: none;

	@include grid-media($md-grid) {
		bottom: 30px;
		right: 30px;
	}

	i {
		color: $footer-bg-grey;
		margin: 0;
		position: relative;
		left: 12px;
		top: 10px;
		font-size: 18px;
		transition: all 0.3s ease;
	}

	&:hover {
		i {
			top: 5px;
		}
	}
}