.carousel {
  &__item {
    background-size: cover;
  }
}

.slick-arrow {
  position: absolute;
  font-size: 0;
  top: 50%;
  margin-top: -12px;
  z-index: 50;
  outline: none;
  background: transparent;
  border: 0 none;

  &:before {
    font-family: "FontAwesome";
    font-size: 24px;
    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  }

  &.slick-prev {
    left: 10px;
    &:before {
      content: '\f053'
    }
  }

  &.slick-next {
    right: 10px;
    &:before {
      content: '\f054'
    }
  }
}


.slick-dots {
  position: absolute;
  bottom: 16px;
  text-align: center;
  width: 100%;

  li {
    display: inline-block;

    &.slick-active {
      button:before {
        background-color: #333;

	      @include grid-media($md-grid){
          background-color: #fece20;
        }
      }
    }
  }

  button {
    border: 0 none;
    font-size: 0;
    background: transparent;
    outline: none;

    &:before {
      content: '';
      width: 10px;
      height: 10px;
      background: white;
      display: block;
      border-radius: 10px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    }
  }

}
