.coe-updates {
	border-right: solid 1px $divider-grey;

	#{&}__indicator {
		text-align: right;
		padding: 15px 0 15px 5px;
	}

	@at-root {
		#{&}__pricing-table {
			border: 0;

			th,
			td {
				border: 0;
				
				padding: 15px 0;
			}

			tr {
				border-bottom: solid 1px $divider-grey;

				&:nth-child(odd),
				&:nth-child(even) {
					background: transparent;
				}

				&:last-child {
					border-bottom: 0;
				}
			}
		}

		#{&}__desc {
			font-family: $font-pri;
			font-size: 14px;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: $nav-grey;
		}

		#{&}__type {
			width: 40%;
			vertical-align: middle;
		}

		#{&}__price {
			padding-right: 10px;

			font-family: $font-pri;
			font-weight: 300;
			font-size: 28px;
		}

		#{&}__indicator {
			font-size: 30px;
			text-align: right;
		}

		#{&}__indicator--dec {
			.fa {
				color: #7cc23b;
			}
		}

		#{&}__indicator--inc {
			.fa {
				color: #da0030;
			}
		}
	}
}