footer {
	padding: 35px 0 30px;

	background: #222222;
	color: $white;
	font-size: 14px;
	
	a {
		color: $white;
	}

	.nav__links {
		margin-top: 25px;
		margin-bottom: 25px;

		font-family: $font-pri;

		@include grid-media($md-grid) {
			margin-top: 0;
		}
	}

	nav {
		padding-bottom: 35px;

		li {
			margin-bottom: 7px;
		}

		a {
			font-family: $font-pri;
			font-weight: normal;
		}
	}

	.copyright {
		padding-top: 20px;

		border-top: solid 1px $nav-grey;
	}
}

.social {
	img {
		width: 30px;
		height: 30px;
	}
}