.classic-form {
	@at-root {
		#{&}__btn-group {
			padding-top: 30px;
			text-align: center;
		}

		#{&}__field {
			width: 100%;
			margin-bottom: 15px;

			@include grid-media($md-grid) {
				width: calc(50% - 15px);
				float: left;

				&:first-child {
					margin-right: 15px;
				}

				&:last-child {
					margin-left: 15px;
				}
			}

			&.has-error {
				input {
					border: solid 1px $red;
				}

				.classic-form__field-error {
					display: block;
				}
			}
		}

		#{&}__field-error {
			display: none;
			padding-top: 3px;

			font-size: 14px;
			font-style: italic;
			color: $red;
		}
	}

	.btn {
		padding: 12px 60px;
	}

	.nice-select {
		width: 100%;

		border-radius: 2px;
		background: $grey--lightest;
		font-family: $font-pri;
		font-size: 16px;
		color: $caption-grey;

		.current {
			font-style: italic;
		}
	}
}

label {
	display: block;
	padding-bottom: 7px;

	font-weight: 700;
	color: $caption-grey;
}

select {
	// display: none;
}

input[type="text"],
textarea {
	padding: 10px 17px 10px 20px;
	border: solid 1px $divider-grey;
	width: 100%;

	background: $grey--lightest;
	font-family: $font-pri;
	font-size: 16px;
	color: $footer-bg-grey;
	outline: 0;
	border-radius: 2px;

	&:focus {
		box-shadow: 0px 0px 19px 2px rgba(233,237,245,0.58);
		border: solid 1px darken($divider-grey, 5);
	}

	&::placeholder {
		font-style: italic;
		color: $caption-grey;
	}
}

textarea {
	resize: none;
}

.field-group {
	margin-bottom: 15px;
}