main {
  margin-top: 75px;
	@include grid-media($lg-grid) {
    margin-top: 183px;
  }
}

.header-desktop {
	position: absolute;
  top: 0;
	padding: 35px 0 0;
	display: none;
	background: $white;
  width: 100%;

	@include grid-media($lg-grid) {
		display: block;
	};


	.mega-menu {
		opacity: 0;
		visibility: hidden;
	}

	.nav__link:hover {
		.mega-menu {
		    opacity: 1;
			visibility: visible;

			@extend .animated;
			animation-duration: .5s;
			animation-delay: .3s;
			@extend .fadeInLeft;
		}
	}

	.nav__links {
		@include grid-media($lg-grid) {
			@include grid-column(8);
		}
	}
}

.header-mobile {
	position: absolute;
  top: 0;
	display: block;
  width: 100%;

	@include grid-media($lg-grid) {
		display: none;
	};

	@at-root {
		#{&}__utilities {
			position: relative;
			z-index: 200;

			padding-top: 15px;
			padding-bottom: 15px;

			background: $white;
		}
	}

	li:last-child {
		margin: 0;
	}

	.accordion:first-child {
		.accordion__header {
			padding: 0;
		}
	}

	.is-opened {
		> .accordion__header {
			background-color: transparent;
		}
	}

	.accordion__header {
		padding: 0;
		background-color: transparent;

		&:after {
			right: auto;
			margin-left: 10px;
		}
	}

	.accordion__body {
		border: 0;
	}

	.accordion__content {
		padding: 15px 0 0 25px;
	}
}

.is-sticky {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1000;

	&.header-desktop {
		padding: 0;

		.logos,
		.menu-search {
			display: none;
		}

		.nav {
			padding-top: 15px;
		}

		.nav__link:not(.special-menu-item) {
			padding-bottom: 20px;
		}
	}

	&.header-desktop,
	&.header-mobile {
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	}
}
