.hero {

	height: 285px;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	@include grid-media($md-grid){
		height: 360px;
	}
}

.hero__speech {
	position: relative;

	height: 100%;
	width: 100%;
	padding: 25px 15px;

	background-color: rgba($yellow, .9);
	color: $body-copy-grey;

	@include grid-media($md-grid) {
		width: 35%;
	}

	@include grid-media($lg-grid){
		padding: 50px 50px 30px;
	}

  @media (min-width: 1200px) {
		padding-left: 70px;
		padding-right: 70px;
  }

	&:after {
		@include grid-media($md-grid){
			position: absolute;
			top: 40px;
			right: -20px;
			bottom: auto;
			left: auto;

			content: '';
			border-style: solid;
			border-width: 20px 0 20px 20px;
			border-color: transparent rgba($yellow, .9);
		}
	}

	.categories {
		font-size: 15px;

		.fa {
			font-size: 14px;
		}
	}

}

.hero__speech-title {
	font-size: 22px;

	@include grid-media($md-grid) {
		font-size: 30px;
	}

	margin: 20px 0 30px;
	line-height: 1.3;
}
