.bullet { 
	list-style-type: disc; 
	list-style-position: outside;
	margin: 20px 0 20px 40px;
}

.number { 
	list-style-type: decimal; 
	list-style-position: outside;
	margin: 20px 0 20px 40px;

	li {
		padding-left: 5px;
	}
}

.bullet li,
.number li {
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}
}