table {
	margin-top: 15px;
	border: solid 1px $divider-grey;

	border-collapse: collapse;
	font-size: 16px;
}

th,
td {
	text-align: left;
	padding: 15px 20px;
	vertical-align: top;

	border-right: solid 1px $divider-grey;
}

tr {
	border-bottom: solid 1px $divider-grey;
	
	&:nth-child(odd) {
		background: $white;
	}

	&:nth-child(even) {
		background: $bg-grey;
	}

	&:last-child {
		border-bottom: none;
	}
}

th {
	font-family: $font-pri;
	font-weight: 700;
	// font-size: 18px;
	vertical-align: middle;
}

.responsive-table {

	tr {
		&:nth-child(2) {
			border-top: solid 1px $divider-grey; // Show border top for mobile because the first-child is hidden.

			@include grid-media($md-grid) {
				border-top: 0;
			}
		}
	}

	th {
		display: none;

		@include grid-media($md-grid) {
			display: table-cell;
		}
	}

	td {
		display: block;
		border-right: 0px;

		 &:before {
			content: attr(data-th)": ";

			display: block;
			font-weight: 700;

			@include grid-media($md-grid) {
				display: none;
			}
		}

		@include grid-media($md-grid) {
			display: table-cell;
			border-right: solid 1px $divider-grey;
		}
	}
}