.traffic-updates {

	@at-root {
		#{&}__search {
			input[type="text"] {
				width: calc(100% - 110px);
				height: 45px;
				margin-right: 12px;
			}

			.btn {
				.fa {
					font-size: 18px;
				}
			}
		}

		#{&}__table {
			margin-top: 42px;

			border: 0;

			tr {
				border-bottom: solid 1px $divider-grey;

				&:nth-child(odd),
				&:nth-child(even) {
					background: transparent;
				}
			}
		
			th,
			td {
				border: 0;
				padding: 15px 0;
			}

			.traffic-updates__type {
				padding-right: 15px;
			}
		}

		#{&}__title {
			font-family: $font-pri;
			font-weight: 700;
		}

		#{&}__time {
			font-family: $font-pri;
			font-size: 14px;
			margin-top: 5px;
		}

		#{&}__desc {
			margin-top: 3px;
		}
	}
}